.audio-player {
  background-color: #1e1e1e !important;
  color: #fff !important;
  border-radius: 8px !important;
}


.audio-player .rhap_main {
  color: white;
}

.audio-player .rhap_button-clear {
  background-color: transparent;
}

.audio-player .rhap_time,
.audio-player .rhap_progress-container {
  color: white;
}

/* Style the progress bar */
.audio-player .rhap_progress-indicator {
  background-color: white;
  border: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.audio-player .rhap_progress-filled {
  background-color: rgba(255, 255, 255, 0.8);
}

.audio-player .rhap_volume-container {
  color: white;
}

.audio-player .rhap_controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
