.explore-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 200px;
}

.explore-title {
  text-align: center;
  color: #333;
}

.explore-description {
  text-align: center;
  color: #666;
}

.explore-section {
  margin-top: 40px;
}

.explore-subtitle {
  color: #333;
}

.explore-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.explore-card {
  width: 200px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  height: 300px; /* Increase height */
  padding: 10px; /* Add padding */
  overflow: hidden; /* Ensure content doesn't overflow */
}

.explore-card:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.explore-image {
  width: 100%;
  height: 200px; /* Set a fixed height for the image */
  border-radius: 10px;
  object-fit: cover;
  position: relative; /* Change to relative */
  top: 0;
  left: 0;
  transition: transform 0.3s ease; /* Add transition for parallax effect */
}

.explore-card:hover .explore-image {
  transform: translateY(-10px); /* Parallax effect */
}

.explore-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.explore-card:hover::before {
  opacity: 1;
  animation: shine 0.75s forwards; /* Add forwards to keep the end state */
}

@keyframes shine {
  0% {
    transform: translateX(-110%) rotate(45deg);
  }
  100% {
    transform: translateX(110%) rotate(45deg);
  }
}

.explore-card p {
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.explore-card a {
  text-decoration: none;
  color: inherit;
}