.music-library-container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  position: relative; /* Ensures the library does not override the sidebar */
  z-index: 1; /* Lower z-index to ensure the sidebar has priority */
}

.lyrics-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1; /* Lower z-index to ensure the sidebar has priority */
  width: calc(50% - 15px); /* Adjust width to account for gaps */
  height: 80%;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background for glass effect */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(255, 255, 255, 0.3); /* Outer shadow and soft inner glow */
  backdrop-filter: blur(1px); /* Glass effect */
  border-radius: 15px; /* Rounded corners */
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  will-change: transform; /* Improves animation performance */
  position: absolute;
  right: 0;
  margin: 10px 10px 0 5px; /* 10px gap on the right, 5px gap between containers */
  overflow: hidden; /* Hide overflow */
}

.lyrics {
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  text-align: center;
  white-space: pre-wrap; /* Preserve formatting including line breaks */
  overflow-y: scroll; /* Enable vertical scrolling */
  max-height: 100%; /* Ensure it doesn't exceed the container height */
  position: relative;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  font-family: 'Nunito', sans-serif;
}

.lyrics::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.song-display {
  align-items: center;
  justify-content: left;
  width: calc(50% - 15px); /* Adjust width to account for gaps */
  height: 80%;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background for glass effect */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(255, 255, 255, 0.3); /* Outer shadow and soft inner glow */
  backdrop-filter: blur(1px); /* Glass effect */
  border-radius: 15px; /* Rounded corners */
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  will-change: transform; /* Improves animation performance */
  position: absolute;
  left: 0;
  margin: 10px 5px 0 10px; /* 10px gap on the left, 5px gap between containers */
}

.song-display-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px; /* Rounded corners */
  z-index: -1; /* Behind the content */
  filter: grayscale() blur(2px) opacity(0.25); /* Grayscale, blur, and opacity */
}

.song-info {
  margin: 5px 0;
  width: 100%;
  user-select: none; /* Standard syntax */
}

.title-info {
  font-size: 5rem;
  color: white;
  text-shadow:
    2px 2px 0 #000000a0,
    -2px 2px 0 #000000a0,
    -2px -2px 0 #000000a0,
    2px -2px 0 #000000a0;
  user-select: none; /* Standard syntax */  
  font-family: 'Roboto', sans-serif;
}

.artist-info {
  font-size: 3rem;
  color: rgb(240, 240, 240);
  text-shadow:
    2px 2px 0 #000000a0,
    -2px 2px 0 #000000a0,
    -2px -2px 0 #000000a0,
    2px -2px 0 #000000a0;
  user-select: none; /* Standard syntax */
  font-family: 'Open Sans', sans-serif;
}

.album-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  perspective: 1000px; /* Adds depth for 3D effect */
}

.album-image {
  width: 50vw; /* Adjust the width as needed */
  max-width: 512px; /* Maximum size */
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background for glass effect */
  backdrop-filter: blur(10px); /* Glass effect */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(255, 255, 255, 0.3); /* Outer shadow and soft inner glow */
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  will-change: transform; /* Improves animation performance */
}

.album-image:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6), inset 0 0 20px rgba(255, 255, 255, 0.4); /* Enhanced shadow on hover */
}

/* Navigation button styling */
.nav-button {
  position: absolute;
  top: 0;
  width: 100px; /* Fixed width for each button */
  height: 100%; /* Occupies full height of the container */
  border: none;
  background: rgba(255, 255, 255, 0.5); /* Glassy effect */
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0; /* Rounded inner corners */
  backdrop-filter: blur(8px); /* Glossy glass effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, transform 0.2s;
  z-index: 2; /* Ensures buttons are above the image */
  margin: 0 -10px;
}

.nav-button:hover {
  background-color: rgba(85, 85, 85, 0.4); /* Darker background on hover */
  transform: scale(1.02); /* Slight scale up on hover */
}

/* Specific styles for the left and right buttons */
.previous-button {
  left: 100px; /* Positions outside the image on the left */
  border-radius: 15px 0 0 15px;
}

.next-button {
  right: 100px; /* Positions outside the image on the right */
  border-radius: 0 15px 15px 0;
}

.audio-player {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
