:root {
    --dark-red: rgba(139, 0, 0, 1);
    --darker-red: rgba(100, 0, 0, 1);
    --bright-red: rgba(255, 99, 71, 1);
    --red: rgba(255, 0, 0, 1);
  
    --dark-blue: rgba(0, 0, 139, 1);
    --darker-blue: rgba(0, 0, 100, 1);
    --bright-blue: rgba(70, 130, 180, 1);
    --blue: rgba(0, 0, 255, 1);
  
    --dark-green: rgba(0, 100, 0, 1);
    --darker-green: rgba(0, 70, 0, 1);
    --bright-green: rgba(144, 238, 144, 1);
    --green: rgba(0, 128, 0, 1);
  
    --dark-yellow: rgba(204, 204, 0, 1);
    --darker-yellow: rgba(153, 153, 0, 1);
    --bright-yellow: rgba(255, 255, 102, 1);
    --yellow: rgba(255, 255, 0, 1);
  
    --dark-orange: rgba(255, 140, 0, 1);
    --darker-orange: rgba(255, 110, 0, 1);
    --bright-orange: rgba(255, 165, 79, 1);
    --orange: rgba(255, 165, 0, 1);
  
    --dark-purple: rgba(75, 0, 130, 1);
    --darker-purple: rgba(55, 0, 100, 1);
    --bright-purple: rgba(216, 191, 216, 1);
    --purple: rgba(128, 0, 128, 1);
  
    --dark-pink: rgba(219, 112, 147, 1);
    --darker-pink: rgba(199, 21, 133, 1);
    --bright-pink: rgba(255, 182, 193, 1);
    --pink: rgba(255, 192, 203, 1);
  
    --dark-brown: rgba(139, 69, 19, 1);
    --darker-brown: rgba(101, 53, 15, 1);
    --bright-brown: rgba(205, 133, 63, 1);
    --brown: rgba(165, 42, 42, 1);
  
    --dark-gray: rgba(105, 105, 105, 1);
    --darker-gray: rgba(70, 70, 70, 1);
    --bright-gray: rgba(190, 190, 190, 1);
    --gray: rgba(128, 128, 128, 1);
  }
  

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, var(--darker-blue) 3%, var(--dark-blue) 38%, var(--bright-blue) 68%, var(--blue) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}